@import "@/styles/config/mixins";

.home {
	width: 100%;
	position: relative;
	margin-top: var(--head-height);
	padding: 8px;

	&-cta {
		position: fixed;
		bottom: 1.5rem;
		right: 1.5rem;
		width: 4rem;
		height: 4rem;

		& > * {
			color: var(--white);
			border-color: var(--white);
		}
	}
}
