@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.expense-wizard {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 8px;

	&-form {
		width: 60%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 auto;

		@include responsive(phone) {
			width: 100%;
		}

		& > div > div {
			padding: 12px;
		}
	}

	&-methods {
		justify-content: space-between;
		gap: 1rem;
		margin: 2rem 0;

		&-logo {
			width: auto;
			height: 1.75rem;
			object-fit: contain;
		}
	}

	&-tags {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 8px;
	}

	&-tag {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 8px;
		width: auto;
		border-radius: 500px;
		border: 1px solid var(--theme-purple);
		padding: 6px 12px;
		color: var(--theme-purple);
		@include typography(body, sm, regular);

		&--interactive {
			cursor: pointer;
		}

		&--active {
			background-color: var(--theme-purple);
			color: var(--white);
		}
	}

	&-action {
		justify-content: center;
		gap: 2rem;
	}
}

.expense-row {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 12px;
	cursor: pointer;
	border-bottom: 1px solid var(--theme-light-grey);

	@include responsive(phone) {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "expense-card-date expense-card-amount" "expense-card-title expense-card-title";
	}

	&:hover {
		background-color: var(--theme-bg-hover);
	}

	&-date {
		width: 14ch;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		flex: 0 0 auto;

		@include responsive(phone) {
			grid-area: expense-card-date;
		}
	}

	&-title {
		max-width: 60%;

		@include responsive(phone) {
			max-width: unset;
			grid-area: expense-card-title;
		}
	}

	&-amount {
		text-align: right;
		margin-left: auto;

		&--paid {
			color: var(--material-red);
		}

		&--received {
			color: var(--material-green);
		}

		@include responsive(phone) {
			grid-area: expense-card-amount;
		}
	}
}

.expenses-summary {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	border: 1px solid var(--grey-200);
	border-radius: 8px;
	padding: 6px 0;

	@include responsive(phone) {
		border: none;
	}

	&-heading {
		width: 100%;
		text-align: left;
		padding: 6px 16px;
	}

	&-row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px 16px;
	}

	&-divider {
		width: 100%;
		height: 1px;
		background: var(--grey-200);
	}

	&-value {
		&--paid {
			color: var(--material-red);
		}

		&--received {
			color: var(--material-green);
		}
	}
}

.members {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		&-controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 12px;

			input {
				min-width: 160px;
			}
		}
	}

	&-user {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;

		&__details {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 2px;
		}

		button {
			margin-left: auto;
		}
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 12px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 200px;
			height: auto;
			object-fit: contain;
		}
	}

	&-bulk-editor {
		width: 100%;

		& > *,
		textarea {
			width: 100%;
		}
	}
}

.placeholder {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 12px;
	padding: 60px 0;
	text-align: center;

	img {
		width: 200px;
		height: auto;
		object-fit: contain;
	}
}

.expense-skeleton {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 12px;
	padding: 12px;

	&-skeleton {
		width: 100%;
		height: 40px;
		background: #d9d9d9;
		background-size: 400% 400%;
		border-radius: 8px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(
				to right,
				#d9d9d9 0%,
				rgba(0, 0, 0, 0.07) 20%,
				#d9d9d9 40%,
				#d9d9d9 100%
			);
			background-repeat: no-repeat;
			background-size: 1200px 1000px;
			animation: shimmer 1s linear infinite;
			border-radius: inherit;
		}
	}
}

@keyframes shimmer {
	0% {
		background-position: -1100px 0;
	}

	100% {
		background-position: 1100px 0;
	}
}
