@import "@/styles/config/mixins";

.splits {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		&-controls {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 12px;

			input {
				min-width: 160px;
			}
		}
	}

	&-user {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;

		&__details {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 2px;
		}

		button {
			margin-left: auto;
		}
	}

	&-placeholder {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 12px;
		padding: 60px 0;
		text-align: center;

		img {
			width: 200px;
			height: auto;
			object-fit: contain;
		}
	}

	&-bulk-editor {
		width: 100%;

		& > *,
		textarea {
			width: 100%;
		}
	}
}
