:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--head-height: 2.5rem;

	--font-poppins:
		Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat:
		"Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-alice:
		"Alice", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, serif;

	--theme-purple: #314967;
	--theme-orange: #f8991d;
	--theme-skin: #f7da94;
	--theme-green: #bbcc30;

	--accent-color: var(--theme-purple);

	--theme-bg: var(--background);
	--theme-fg: var(--foreground);

	--theme-back-shadow: rgba(0, 0, 0, 0.1);
	--theme-back-shadow-light: rgba(0, 0, 0, 0.05);
	--theme-back-shadow-dark: rgba(0, 0, 0, 0.4);
}
